:root {
  --ft-color: #212121;
  --ft-accent-color: #f32323;
  --section-color: #d3e3f3;
  --main-margin: 3mm;
  --main-gap: var(--main-margin);
  --quick-info-width: 80mm;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@page {
  size: A4;
  margin: 0;
  padding: 0;
}

@media print {
  input[type="submit"] {
    display: none;
  }

  .quick-info {
    width: 34%;
  }

  .quick-info hr {
    visibility: hidden;
  }

  .ed-work {
    width: 66%;
  }

  table {
    margin-right: 10mm;
  }

  .contact-address, .skills {
    padding-left: 2mm;
  }

  #start-timeline {
    height: 9.8em;
  }

  .about-me {
    margin-left: 1.4em;
    margin-right:1.4em;
    padding-left: 2mm;
    padding-right: 2mm;
  }

}

@media screen {
  body {
    background-color: #e2e2e2;
  }

  main {
    margin: var(--main-margin);
    gap: var(--main-gap);
    filter: drop-shadow(0 0 0.2rem black);
  }
}

table {
  padding: 1em;
}

td {
  padding: 0.3em;
  padding-top: 0;
  vertical-align: top;
}

.quick-info {
  max-width: var(--quick-info-width);
}

.ed-work {
  max-width: calc(210mm - var(--quick-info-width) - 2 * var(--main-margin) - var(--main-gap));
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--ft-color);
  margin: auto;
  margin-top: 0;
  height: 297mm;
  width: 210mm;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.contact-address {
  margin: 1em;
}

.skills {
  margin: 2em;
}

section {
  background-color: white;
}

li {
  list-style-type: none;
}

i {
  color: var(--ft-accent-color);
  width: 2rem;
  text-align: center;
}

.education {
  margin-bottom: 1.2rem;
}

.years {
  padding-bottom: 0;
  padding-top: 0;
  padding-right: 1em;
}

.vert-line {
  background-color: red;
  width: 0.1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.4em;
  border: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.avatar {
  width: 100%;
}

h1 {
  margin: 1.5em;
  font-size: 32px;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.ed-work h1{
  text-align: center;
}

.ed-work h2{
  padding: 0.8rem;
}

.about-me h2 {
  padding: 0.8rem;
}

.ed-work h3 {
  margin-top: 0;
}

#phone::before {
  background: url(phone-solid.svg) no-repeat center;
  content: '';
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 2em;
}

#mail::before {
  background: url(envelope-solid.svg) no-repeat center;
  content: '';
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 2em;
}

#address::before {
  background: url(location-dot-solid.svg) no-repeat center;
  content: '';
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 2em;
}

#linked-in::before {
  content: '';
  background: url(linkedin.svg) no-repeat center;
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 2em;
}

#github::before {
  background: url(github.svg) no-repeat center;
  content: '';
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 2em;
}

#skills-heading::before {
  background: url(gear-solid.svg) no-repeat center;
  content: '';
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 2em;
}

#education-heading::before {
  background: url(building-columns-solid.svg) no-repeat center;
  content: '';
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 2.65em;
}

#work-xp-heading::before {
  background: url(hammer-solid.svg) no-repeat center;
  content: '';
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 2.65em;
}

.years {
  text-align: right;
  font-family: 'Roboto-mono', monospace;
}

.about-me {
  padding: 1em;
  padding-top: 0.7em;
}

